PORT=3000
# To get stripe secret go to https://dashboard.stripe.com/apikeys
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel
# Signing secret del webhook
STRIPE_ENDPOINTSECRET=
